* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.resize-animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  color: #f8f8f8;
  background: #15181a;
  background: #15181a;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#15181a), to(#070707));
  background: linear-gradient(0deg, #15181a 0%, #070707 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15181a', endColorstr='#070707',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.logo {
  height: 65%;
  width: auto;
}

.splash-title {
  width: 0px;
  overflow: hidden;
  margin: 0px auto;
  color: #a42b31;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: name-type 3s steps(30, end) 1s forwards, cursor 0.5s step-end 10;
          animation: name-type 3s steps(30, end) 1s forwards, cursor 0.5s step-end 10;
  border-right: 5px solid transparent;
}

.splash-sub-title {
  color: #f8f8f8;
  width: 0px;
  margin: 0px auto;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: sub-title-type 3s steps(30, end) 5s forwards, sub-cursor 0.5s step-end 7 5s;
          animation: sub-title-type 3s steps(30, end) 5s forwards, sub-cursor 0.5s step-end 7 5s;
  border-right: 5px solid transparent;
}

@-webkit-keyframes name-type {
  from {
    width: 0px;
  }
  to {
    width: 600px;
  }
}

@keyframes name-type {
  from {
    width: 0px;
  }
  to {
    width: 600px;
  }
}

@-webkit-keyframes cursor {
  from, to {
    border-right: solid 5px transparent;
  }
  50% {
    border-right: solid 5px #a42b31;
  }
}

@keyframes cursor {
  from, to {
    border-right: solid 5px transparent;
  }
  50% {
    border-right: solid 5px #a42b31;
  }
}

@-webkit-keyframes sub-title-type {
  from {
    width: 0px;
  }
  to {
    width: 480px;
  }
}

@keyframes sub-title-type {
  from {
    width: 0px;
  }
  to {
    width: 480px;
  }
}

@-webkit-keyframes sub-cursor {
  from, to {
    border-right: solid 5px transparent;
  }
  50% {
    border-right: solid 5px #f8f8f8;
  }
}

@keyframes sub-cursor {
  from, to {
    border-right: solid 5px transparent;
  }
  50% {
    border-right: solid 5px #f8f8f8;
  }
}

.scroll-icon-container {
  height: auto;
  width: 75px;
  margin: 1em auto;
}

.scroll-icon-container .scroll-arrow {
  height: 50px;
  width: 50px;
  background: transparent;
  margin-top: 0px;
}

.scroll-icon-container span {
  position: relative;
  bottom: 135px;
  left: 25px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  color: transparent;
  -webkit-animation: fade-in .75s ease-in 8.5s forwards;
          animation: fade-in .75s ease-in 8.5s forwards;
}

.arrow-01 {
  fill: #ffcccc;
  -webkit-animation: arrow1 1s ease-in infinite 8.5s;
          animation: arrow1 1s ease-in infinite 8.5s;
}

.arrow-02 {
  fill: #ffcccc;
  -webkit-animation: arrow2 1s ease-in infinite 8.5s;
          animation: arrow2 1s ease-in infinite 8.5s;
}

.arrow-03 {
  fill: #ffcccc;
  -webkit-animation: arrow3 1s ease-in infinite 8.5s;
          animation: arrow3 1s ease-in infinite 8.5s;
}

@-webkit-keyframes arrow1 {
  0% {
    fill: #ffcccc;
  }
  20% {
    fill: #a42b31;
  }
  50% {
    fill: #ffcccc;
  }
  100% {
    fill: #ffcccc;
  }
}

@keyframes arrow1 {
  0% {
    fill: #ffcccc;
  }
  20% {
    fill: #a42b31;
  }
  50% {
    fill: #ffcccc;
  }
  100% {
    fill: #ffcccc;
  }
}

@-webkit-keyframes arrow2 {
  0% {
    fill: #ffcccc;
  }
  50% {
    fill: #a42b31;
  }
  100% {
    fill: #ffcccc;
  }
}

@keyframes arrow2 {
  0% {
    fill: #ffcccc;
  }
  50% {
    fill: #a42b31;
  }
  100% {
    fill: #ffcccc;
  }
}

@-webkit-keyframes arrow3 {
  0% {
    fill: #ffcccc;
  }
  50% {
    fill: #ffcccc;
  }
  80% {
    fill: #a42b31;
  }
  100% {
    fill: #ffcccc;
  }
}

@keyframes arrow3 {
  0% {
    fill: #ffcccc;
  }
  50% {
    fill: #ffcccc;
  }
  80% {
    fill: #a42b31;
  }
  100% {
    fill: #ffcccc;
  }
}

@-webkit-keyframes fade-in {
  0% {
    color: transparent;
  }
  100% {
    color: #f8f8f8;
  }
}

@keyframes fade-in {
  0% {
    color: transparent;
  }
  100% {
    color: #f8f8f8;
  }
}

@media only screen and (max-width: 850px) {
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .logo {
    margin-top: 2em;
    height: 45%;
  }
  .splash-title {
    font-size: 1.75rem;
  }
  .splash-sub-title {
    font-size: 1.25rem;
  }
  @-webkit-keyframes name-type {
    from {
      width: 0px;
    }
    to {
      width: 305px;
    }
  }
  @keyframes name-type {
    from {
      width: 0px;
    }
    to {
      width: 305px;
    }
  }
  @-webkit-keyframes sub-title-type {
    from {
      width: 0px;
    }
    to {
      width: 310px;
    }
  }
  @keyframes sub-title-type {
    from {
      width: 0px;
    }
    to {
      width: 310px;
    }
  }
  .scroll-icon-container {
    height: 100px;
    width: 75px;
    margin: 9em auto 0;
    padding-left: 1em;
    padding-top: 1em;
  }
  .scroll-icon-container .scroll-arrow {
    height: 25px;
    width: 25px;
    background: transparent;
    margin-top: 0px;
  }
  .scroll-icon-container span {
    position: relative;
    bottom: 67px;
    left: 2px;
    font-size: .5rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    color: transparent;
    -webkit-animation: fade-in .75s ease-in 8.5s forwards;
            animation: fade-in .75s ease-in 8.5s forwards;
  }
}

main {
  background: #15181a;
}

nav {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
  background: #a42b31;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2.25rem;
}

nav ul li {
  list-style: none;
  margin: 0 0.5em;
}

nav ul li a {
  text-decoration: none;
  font-style: none;
  font-weight: 400;
  padding: .25em;
  border: solid transparent 2px;
  color: #f8f8f8;
  background: transparent;
  -webkit-transition: color 0.75s , background 0.75s, border 0.75s;
  transition: color 0.75s , background 0.75s, border 0.75s;
}

nav ul li a:hover {
  color: #15181a;
  border: solid #15181a 2px;
  background: #cc6666;
  -webkit-transition: color 0.75s , background 0.75s, border 0.75s;
  transition: color 0.75s , background 0.75s, border 0.75s;
}

#about-me {
  background: #15181a;
  height: 200vh;
}

#about-me .who-ken {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  width: 255px;
  border: red solid 1px;
  margin: 1em;
  margin-left: -1000px;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}

#about-me .scroll-animation {
  margin: 1em 0em 1em 35%;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}

@media only screen and (max-width: 850px) {
  nav {
    font-family: "Montserrat", sans-serif;
    padding: 1em;
    background: #a42b31;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1rem;
  }
  nav ul li {
    list-style: none;
    margin: 0 0.5em;
  }
  nav ul li a {
    text-decoration: none;
    font-style: none;
    font-weight: 400;
    padding: .25em;
    border: solid transparent 2px;
    color: #f8f8f8;
    background: transparent;
    -webkit-transition: color 0.75s , background 0.75s, border 0.75s;
    transition: color 0.75s , background 0.75s, border 0.75s;
  }
  nav ul li a:hover {
    color: #15181a;
    border: solid #15181a 2px;
    background: #cc6666;
    -webkit-transition: color 0.75s , background 0.75s, border 0.75s;
    transition: color 0.75s , background 0.75s, border 0.75s;
  }
}
/*# sourceMappingURL=style.css.map */