// Create color variables for the site:
//---------------------------------------------------------------------
$red: #a42b31;
$light-red:#cc6666;
$pink: #ffcccc;
$white: #f8f8f8;
$light-grey: #575757;
$dark-grey: #15181a;
//---------------------------------------------------------------------
//Variables for fonts:
$prime-text:'Montserrat', sans-serif;
$sub-text:'Roboto Slab', serif;
//---------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.hl-invisible{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 1em auto 0;
    padding: 1em;
    color: transparent;
    background: transparent;
    text-align: center;
    transition: color 0.3s, background 0.3s;
}

.hl-visible{
    color: $white;
    background: #94949483;
    transition: color 0.3s, background 0.3s;
    text-decoration: none;
}

.hl-visible:hover{
    text-decoration: underline;
}

.hl-visible:focus{
    text-decoration: underline;
}


// Stop Animations on window resize
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }

body {
    margin: 0;
    margin-bottom: 3.5em;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: $white;
    background: $dark-grey;
    background: #15181a; /* Old browsers */
    background: -moz-linear-gradient(0deg, #15181a 0%, #070707 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(0deg, #15181a 0%,#070707 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(0deg, #15181a 0%,#070707 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15181a', endColorstr='#070707',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: $prime-text;
}

header {
    height: 100%;
    width: 100%;
    text-align: center;
}

.logo {
    height: auto;
    width: 600px;
}

.splash-title {
    width: 0px;
    overflow: hidden;
    margin: 0px auto;
    color: $red;
    font-size: 3.5rem;
    font-family: $prime-text;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    animation: 
        name-type 3s steps(30, end) 1s forwards, 
        cursor 0.5s step-end 10;
    border-right: 5px solid transparent;
}

.splash-sub-title {
    color: $white;
    width: 0px;
    margin: 0px auto;
    font-family: $sub-text;
    font-size: 2rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    animation: 
        sub-title-type 3s steps(30, end) 5s forwards, 
        sub-cursor 0.5s step-end 7 5s;
    border-right: 5px solid transparent;
   }
//---------------------------------------------------------------------
//Animations for the splash page title and sub-title
//---------------------------------------------------------------------
@keyframes name-type {
    from {
        width: 0px;
    }
    to {
        width: 600px;
    }
}

@keyframes cursor {
    from, to {
        border-right: solid 5px transparent;
    }
    50% {
        border-right: solid 5px $red;
    }
}

@keyframes sub-title-type {
    from {
        width: 0px;
    }
    to {
        width: 480px;
    }
}

@keyframes sub-cursor {
    from, to {
        border-right: solid 5px transparent;
    }
    50% {
        border-right: solid 5px $white;
    }
}

//---------------------------------------------------------------------
// Scroll Indicator Animations:
//---------------------------------------------------------------------
.scroll-icon-container {
    height: auto;
    width: 75px;
    margin: 1em auto;

        .scroll-arrow {
            height: 50px;
            width: 50px;
            background: transparent;
            margin-top: 0px;
        }

        span {
            position: relative;
            bottom: 135px;
            left: 25px;
            writing-mode: vertical-rl;
            text-orientation: upright;  
            color: transparent;
            animation: fade-in .75s ease-in 8.5s forwards;
        }
}


.arrow-01 {
    fill: $pink;
    animation: arrow1 1s ease-in infinite 8.5s;
}
.arrow-02 {
    fill: $pink;
    animation: arrow2 1s ease-in infinite 8.5s;
}
.arrow-03 {
    fill: $pink;
    animation: arrow3 1s ease-in infinite 8.5s;
}

@keyframes arrow1 {
    0%{
        fill: $pink;
    }
    20%{
        fill: $red;
    }
    50%{
       fill: $pink;
    }
    100%{
        fill: $pink;
    }
}


@keyframes arrow2 {
    0%{
        fill: $pink;
    }
    50%{
       fill: $red;
    }
    100%{
        fill: $pink;
    }
}


@keyframes arrow3 {
    0%{
        fill: $pink;
    }
    50%{
       fill: $pink;
    }
    80%{
        fill: $red;
    }
    100%{
        fill:$pink;
    }
}

@keyframes fade-in {
    0%{
        color: transparent;
    }
    100%{
        color: $white;
    }
}

//---------------------------------------------------------------------
// Media Queries:
//---------------------------------------------------------------------

@media only screen and (max-width: 850px) {
    header {
        
        justify-content: flex-end;
        align-content: flex-end;
    }
    
    .logo {
        margin-top: 2em;
        height: auto;
        width: 75%;
    }

    .splash-title {
        font-size: 1.75rem; 
    }
    
    .splash-sub-title {
        font-size: 1.25rem;
       }

       @keyframes name-type {
        from {
            width: 0px;
        }
        to {
            width: 305px;
        }
    }
    
    
    @keyframes sub-title-type {
        from {
            width: 0px;
        }
        to {
            width: 310px;
        }
    }

    .scroll-icon-container {
        height: 100px;
        width: 75px;
        margin: 9em auto 0;
        padding-left: 1em;
        padding-top: 1em;
    
            .scroll-arrow {
                height: 25px;
                width: 25px;
                background: transparent;
                margin-top: 0px;
            }
    
            span {
                position: relative;
                bottom: 67px;
                left: 2px;
                font-size: .5rem;
                writing-mode: vertical-rl;
                text-orientation: upright;  
                color: transparent;
                animation: fade-in .75s ease-in 8.5s forwards;
            }
    }
    
    
  }

//---------------------------------------------------------------------
// Main CSS:
//---------------------------------------------------------------------
//---------------------------------------------------------------------
// About/Navigation CSS:
//---------------------------------------------------------------------

main{
    background: $dark-grey;
}

nav {
    font-family: $prime-text;
    padding: 1em;
    background: $red;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 2.25rem;

        li{
            list-style: none;
            margin: 0 0.5em;
            text-align: center;
            
            a{
                text-decoration: none;
                text-align: center;
                font-style: none;
                white-space: nowrap;
                font-weight: 400;
                padding: .25em;
                border: solid transparent 2px;
                color: $white;
                background: transparent;
                transition: color 0.75s , background 0.75s, border 0.75s;
            }
            a:hover{
                color: $dark-grey;
                border: solid $dark-grey 2px;
                background: $light-red;
                transition: color 0.75s , background 0.75s, border 0.75s;
            }

            a:focus{
                color: $dark-grey;
                border: solid $dark-grey 2px;
                background: $light-red;
                transition: color 0.75s , background 0.75s, border 0.75s;
            }
        }
    }
}


#about-me {
    background: $dark-grey;
    overflow: hidden;

    .who-ken {
        font-family: $sub-text;
        font-weight: 700;
        font-size: 2em;
        color: $dark-grey;
        width: 50%;
        background: $red;
        margin: 1em;
        margin-left: -1000px;
        padding: 0.5em;
        transition: margin 1s;
        text-align: right;
    }

    .scroll-animation {
        margin: 1em 0em 1em 0%;
        transition: margin 1s;
    }

    .about-me-desription-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 75%;
        background: transparent;
        margin-left: 2000px;
        transition: margin 1s; 
    }

    .about-me-desription-container-animation {
        display: flex;
        flex-direction: row;
        margin-left: 19%;
        transition: margin 1s, background 2s;
    }

    .image-container{
        img {
            height: 500px;
            width: auto;
        }
    }
    .about-para-socialmedia-container{
        display: flex;
        flex-direction: column;
        

        .about-me-paragraph {
            width: 100%;
            height: auto;
            padding: 0em 2em;
            line-height: 1.5;

            a {
                text-decoration: none;
                font-style: none;
                color: $red;
                margin: 0;
                border-bottom: solid 2px transparent;
                
            }
            a:hover {
                margin: 0;
                border-bottom: solid 2px $light-red;
                
            }
            a:focus {
                margin: 0; 
                border-bottom: solid 2px $light-red;
                
            }
        }

        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-around;
            align-items: center; 
            height: auto;
            color:$red;
            padding:0em 2em;

            li{
                width: 90px;
                padding: 10px;
                list-style-type:none;
                background:transparent;
                color: $red;
                border: transparent solid 2px;
                font-weight: 700;
                transition: background 1s, color 1s, border 1s;
                
                a{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90px;
                    height: 103px;
                    padding: 10px;
                    color: $red;
                    text-decoration: none;
                }

                a:hover{
                    width: 90px;
                    padding: 10px;
                    color: $red;
                    cursor: pointer;
                    font-weight: 700;
                    border: $red solid 2px;
                    background: $white;
                    transition: background 1s color 1s, border 1s;
                }

                a:focus{
                    width: 90px;
                    padding: 10px;
                    color: $red;
                    cursor: pointer;
                    font-weight: 700;
                    border: $red solid 2px;
                    background: $white;
                    transition: background 1s color 1s, border 1s;
                }

                span{

                    img{
                        height: 3em;
                        width: 3em;
                    }
                }
            }

        }
    }
    

}




//---------------------------------------------------------------------
// Media Queries:
//---------------------------------------------------------------------
@media only screen and (max-width: 1700px) {

    #about-me {
        background: $dark-grey;
    
        .who-ken {
            font-family: $sub-text;
            font-weight: 700;
            font-size: 2em;
            color: $dark-grey;
            width: 50%;
            background: $red;
            margin: 1em;
            margin-left: -1000px;
            padding: 0.5em;
            transition: margin 1s;
            text-align: right;
        }
    
        .scroll-animation {
            margin: 1em 0em 1em 0%;
            transition: margin 1s;
        }
    
        .about-me-desription-container {
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            background: transparent;
            margin-left: 2000px;
            transition: margin 1s; 
        }
    
        .about-me-desription-container-animation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: auto;
            margin-left: 0%;
            padding: 2em;
            transition: margin 1s, background 2s;
        }

        .image-container{
            img {
                height: 600px;
                width: auto;
                margin: 0 auto;
            }
        }

        .about-me-paragraph {
            width: 100%;
            height: auto;
            margin-top: 1em;
            padding: 0em 2em;
            line-height: 1.5;
        }

        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center; 
            height: auto;
            color:$red;
            margin: 2em;
            padding:0em 2em;

            li{
                display:flex;
                flex-direction: column;
                justify-content: center;
                width: 90px;
                padding: 10px;
                align-items: center;
                list-style-type:none;
                background:transparent;
                color: $red;
                border: transparent solid 2px;
                font-weight: 700;
                transition: background 1s, color 1s, border 1s;

                span{

                    img{
                        height: 2em;
                        width: 2em;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 935px) {

    #about-me {
        background: $dark-grey;

        .image-container{
            img {
                height: 450px;
                width: auto;
                margin: 0;
            }
        }
    }
}


@media only screen and (max-width: 850px) {
    nav {
        font-family: $prime-text;
        padding: 1em;
        background: $red;
    
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 1rem;
    
            li{
                list-style: none;
                margin: 0 0.5em;
                
                a{
                    text-decoration: none;
                    font-style: none;
                    font-weight: 400;
                    padding: .25em;
                    border: solid transparent 2px;
                    color: $white;
                    background: transparent;
                    transition: color 0.75s , background 0.75s, border 0.75s;
                }
                span{

                    img{
                        height: 2em;
                        width: 2em;
                    }
                }
                a:hover{
                    color: $dark-grey;
                    border: solid $dark-grey 2px;
                    background: $light-red;
                    transition: color 0.75s , background 0.75s, border 0.75s;
                }
            }
        }
    } 

}
@media only screen and (max-width: 700px) {

    #about-me {
        .who-ken {
            margin-bottom: 0;
        }
        .image-container{
            display: flex;
            justify-content: center;
            align-content: center;
            img {
                height: 300px;
                width: auto;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: 415px) {

    #about-me {
        .who-ken {
            margin-bottom: 0;
        }
        .image-container{
            display: flex;
            justify-content: center;
            align-content: center;
            img {
                height: 200px;
                width: auto;
                margin: 0;
            }
        }
    }

    .about-me-paragraph {
        text-align: center;
    }
}

//---------------------------------------------------------------------
// Portfolio CSS:
//---------------------------------------------------------------------

.page-division {
    font-family: $prime-text;
    background: $red;
    text-align: center;
    margin: 2em 0;
    padding: 1em;


    h2 {
        font-size: 2.25rem;
        font-weight: 400;
    }
}

.portfolio-section-container {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    a{
        text-decoration: none;
        font-style: none;
        margin: 1em 0;
        border: solid transparent 2px;
        transition: border 1s, color 1s, background 1s;

        .portfolio-card{
            height: 400px;
            width: 300px;
            text-align: center;
            padding: 1em;
            margin: 0;
            background: transparent;
            color: $white;
            border: solid transparent 2px;
            transition: border 1s, background 1s, color 1s;
    
            .portfolio-item-img {
                height: 225px;
                width: 225px;
                background: $white;
                margin: 1em auto;
    
                img{
                    height: 100%;
                    width: 100%;
                    border: solid $dark-grey 2px;
                    transition: border 1s;
                }
            }
    
            h3 {
                color: $light-red;
                font-size: 1.25rem;
                margin-bottom: 1em;
                transition: color 1s;
            }
        }
    
        .portfolio-card:hover {
            background: white;
            border: solid $red 2px;
            color: $dark-grey;
            cursor: pointer;
            transition: border 1s, color 1s, background 1s;
    
            img{
                border: solid $red 2px;
                transition: border 1s;
            }
    
            h3 {
                color: $red;
                transition: color 1s;
            }
        }
    
    }

    a:focus{
        outline: solid $pink 3px;

        .portfolio-card{
            background: white;
            border: solid $red 2px;
            color: $dark-grey;
            cursor: pointer;
            transition: border 1s, color 1s, background 1s;
    
            img{
                border: solid $red 2px;
                transition: border 1s;
            }
    
            h3 {
                color: $red;
                transition: color 1s;
            }
        }
    }
    
   .note {
       text-align: center;
       font-family: $sub-text;
       color: $light-grey;
       margin-top: 2em;
   }
}

//---------------------------------------------------------------------
// Contact CSS:
//---------------------------------------------------------------------

.contact-section-container {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 350px; 
        height: auto;
        background: transparent;
        border: $red solid 2px;
        margin: 0 auto 2em;;
        padding: 1em;

        label {
            display: flex;
            flex-direction: column;
            font-family: $prime-text;
            font-size: 1.15em;
        }

        input {
            margin: 0.5em 0;
            padding: 0.5em;
            background: $dark-grey;
            color: $white;
            border: $red solid 2px;
            font-size: 1em;
            font-family: $sub-text;
        }

        input:focus {
            background: $white;
            color: $dark-grey;
        }

        textarea {
            height: 300px;
            width: 100%;
            background: $dark-grey;
            color: $white;
            border: $red solid 2px;
            font-size: 1em;
            font-family: $sub-text;
            padding: 0.5em;
        }

        textarea:focus {
            background: $white;
            color:$dark-grey;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
            button {
                width: 33.3%;
                margin: 1em 0;
                padding: 1em 0.5em;
                background: transparent;
                border: $red solid 2px;
                outline: transparent solid 3px;
                color: $red;
                font-family: $prime-text;
                font-size: 1.15em;
                font-weight: 700;
                transition: background 1s, color 1s, border 1s;
            }
            button:hover{
                background: $white;
                color: $dark-grey;
                transition: background 1s, color 1s;
            }

            button:focus{
                background: $white;
                outline: $pink solid 3px;
                color: $dark-grey;
                transition: background 1s, color 1s, outline 1s;
            }
        }
    }
}

//---------------------------------------------------------------------
// Footer CSS:
//---------------------------------------------------------------------

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: $sub-text;
    color: $dark-grey;
    background: $light-grey;
    padding: 1em;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li{
            text-decoration: none;
            list-style: none;
        }

        li:first-child {
            margin-right: 2em;
            margin-left: 1em;
        }
    }
}

@media only screen and (max-width: 850px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 1em;

            li:first-child {
                margin-right: 0;
                margin-left: 0;
            }

        }
    }
}